@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

.body{
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    font-size: 14px;

}

.container{
    max-width: 970px;
    padding: 0 15px;
    margin: 0 auto;
}
 .p{
     color: black;
     line-height: 1.8 ;
 }

 .header{
padding: 20px 0;


 }

 .header__container{
     display: flex;
     justify-content: space-between;
     align-items: center;

 }

 .logo{
     font-size: 25px;

     letter-spacing: 4px;
     text-transform: uppercase;
     color: rosybrown;

 }

 .header__nav ul{
     display: flex;

 }

 .header__nav li + li{
     margin-left: 40px;
 }

 .header__nav a {
     font-size: 16px;
     color: gray;


 }

.header__nav a:hover {
    color:red;

}

.header__nav a:active{
    color: violet;
}


.main{

}

.welcome{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    color: black;
    text-align: center;
    padding: 195px 0;
    background-image: url("img/img_1.png");
    min-height: 550px;
    background-size: cover;
    background-position: center;

}

.container{


}

.welcome__heading{
    font-size: 59px;
    line-height: 1;
    letter-spacing:4px;
    text-transform: uppercase;

}

.welcome__links{


}

.link-primary{


}


.link{


}