@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

.body{
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    font-size: 14px;

}

.container{
    max-width: 970px;
    padding: 0 15px;
    margin: 0 auto;
}
 .p{
     color: black;
     line-height: 1.8 ;
 }



.hide{
    display: none !important;

}

.title-wrapper{
    margin-bottom: 70px;

}

.title{
    font-size: 30px;
    line-height: 1.2;
    letter-spacing: 5px;
    text-transform: uppercase;
    color: black;
    margin-bottom: 17px;



}
.common-section {
    text-align: center;
    padding: 80px 0;
}

/*-------------HEADER-----------*/

.header{
    width: 100%;
    padding: 20px 0;
    position: fixed;
    top: 0;
    left :0;
    z-index: 100;


}

 .header__container{
     display: flex;
     justify-content: space-between;
     align-items: center;

 }

 .logo{
     font-size: 25px;
     letter-spacing: 4px;
     text-transform: uppercase;
     color: black;

 }

 .header__nav ul{
     display: flex;

 }

 .header__nav li + li{
     margin-left: 40px;
 }

 .header__nav a {
     font-size: 16px;
     color: black;


 }
.header__nav a:hover {
    color:#e8dfd6;

}

.header__nav a:active{
    color:#e8dfd6;
}



.welcome{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    color: black;
    text-align: center;
    padding: 195px 0;
    background-image: url("img/img_1.png");
    min-height: 550px;
    background-size: cover;
    background-position: center;

}


.welcome__heading{
    margin-bottom: 70px;
    font-size: 49px;
    line-height: 1;
    letter-spacing:4px;
    text-transform: uppercase;



}

.welcome__links> * + * {
    margin-left: 20px;



}

.link-primary{
    display: inline-block;
    font-size: 16px;
    letter-spacing: 2px;
    text-transform: uppercase;
    border: 2px solid black;
    border-radius: 5px;
    padding: 10px 30px;


}
.link-primary:hover{
    background-color: #e8dfd6;
}

.link-primary:active{
    background-color:white;;
}


.link{
    display: inline-block;
    font-size: 16px;
    letter-spacing: 2px;
    text-transform: uppercase;
    border: 2px solid black;
    border-radius: 5px;
    padding: 10px 30px;

}
.link:hover{
    background-color: #e8dfd6;
}

.link:active{
    background-color: white;

}



/*-----------What we do---------*/

.about{
    background-color:white;
}

.about .cards-wrapper{
    display: flex;
    justify-content: space-between;
}

.about .card{
    padding: 30px;

}
.about .card img{
    height: 500px;
    width: 500px;
    object-fit: contain;
    margin-bottom: 20px;
}


/*---------Catalog-------*/

.catalog{
    background-color: #fbf8f1;

}

.catalog .cards-wrapper{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;


}

.catalog .card{
    padding: 30px;


}

.catalog .card img{
    margin-bottom: 20px;
    height: 400px;
    width: 400px;
    object-fit: cover;




}

.catalog .card h4{
    margin-bottom: 20px;
    font-size: 20px;
    line-height: 1.5;
    letter-spacing: 7px;
    text-transform: uppercase;


}
.catalog .Link{
    margin-top: 15px;
    display: inline-block;
    font-size: 16px;
    letter-spacing: 2px;
    text-transform: uppercase;
    border: 2px solid black;
    border-radius: 5px;
    padding: 10px 30px;

}

/*--------TAB-SECTION---------*/

.title{
    margin-bottom: 60px;
}
.tab-section{
    height: 100vh;


}
.tabs__item .img{
    background-position: center;
    height: 200px;
    width: 200px;
}

.tabs__nav{
    margin-bottom: 50px;
}

.tabs__nav button{
    padding: 0 30px;
    font-size: 16px;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: black;
    background-color: #e8dfd6;
    border-radius: 4px;
    margin-top: 20px;

}

.tabs__nav button.active{
    background-color:#e8dfd6;


}
.tabs__nav button + button{
    margin-left: 15px;
}

